.cart_types {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);

}

.CachedIcon {
    width: 0.8rem;
    position: relative;
    left: 0.5rem;
}

.VisibilityIcon {
    font-size: 1rem;
}

/* 为水平滚动容器添加样式 */
.popular-container {
    overflow-x: auto;
    white-space: nowrap;
    /* 防止项目换行 */
    margin-bottom: 1rem;
    /* 可选：添加底部间距 */
}

/* 每个人气品牌和我的优惠项目的样式 */
.popular-item,
.discounts-item {
    display: inline-block;
    width: 200px;
    /* 适当调整项目的宽度 */
    margin-right: 1rem;
    /* 可选：添加右侧间距 */
    flex: 0 0 auto;
    /* 可选：禁止项目伸缩 */
}

/* 紫色 */
@media screen and (orientation: landscape) {
    .Sample {
        height: 25rem;
    }

    .CachedIcon {
        /* font-size: 3rem; */
        width: 2rem;
        left: -1rem;
    }

    .Sample_money {
        margin-top: 2rem;
        font-size: 3.5rem;
        margin-left: 3rem
    }

    /* .VisibilityIcon{
        font-size: 2rem;
    } */
    .VisibilityIcon {
        width: 1.8rem;
        /* background-color: aqua; */
        padding-top: 0.5rem;
    }

    .Sample_time {
        height: 8rem;
        margin-top: 0.9rem;
        tab-size: 1rem;
        font-size: 1.5rem;
        /* background-color: aquamarine; */
    }

    .Sample_titles {
        font-size: 1.8rem;
        height: 8rem;
        margin-left: 4.5rem;
        /* background-color: aquamarine; */
    }

    .Sample_title {
        left: 7.5rem;
        top: 2rem;
    }

    .popular {
        height: 11rem;
        width: 15rem;
        padding-left: 2rem;
        padding-right: 2rem;
        /* background-color: aquamarine; */
        margin-right: 2rem;
    }

    .title {
        font-size: 2rem;
        font-weight: 600;
        padding-left: 2rem;
        margin-top: 2rem;
    }

    .discounts {
        /* background-color: aquamarine; */
        height: 18rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .discounts_img {
        height: 18rem;
    }

    .news {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .new_CardMedia {
        height: 25rem;

    }

    .QRcodeHome {
        width: 7rem;
        /* background-color: bisque; */
        top: -1rem;
        right: 5rem;
    }
}

@media screen and (orientation: portrait) {
    /* 纵向布局样式 */
    /* 在 CSS 文件中定义媒体查询  粉色*/
    @media screen and (max-width: 400px) {
        .Sample {
            height: 11rem;
        }

        .VisibilityIcon {
            width: 0.8rem;
            /* background-color: aqua; */
            padding-top: 0.5rem;
        }

        .Sample_titles {
            font-size: 0.8rem;
            /* background-color: aquamarine; */
            height: 2.8rem;
            padding-left: 0.3rem;
        }

        .Sample_money {
            margin-top: 1.5rem;
            font-size: 24px;
        }

        .Sample_time {
            height: 4.3rem;
            font-size: 0.6rem;
            padding-bottom: 0.2rem;
            /* background-color: aquamarine; */
        }

        .title {
            font-size: 0.9rem;
            font-weight: 600;
            /* color: aquamarine; */
        }

        .popular {
            height: 5rem;
            width: 5rem;
            /* background-color: aquamarine; */
            margin-right: 1rem;

        }

        .discounts {
            /* background-color: aquamarine; */
            height: 7rem;
        }

        .discounts_img {
            height: 7rem;
        }

        .new_CardMedia {
            height: 150px;
        }

        .QRcodeHome {
            width: 2.5rem;
            position: absolute;
            top: 0.7rem;
            right: 1rem;
        }


    }

    /* 400px至600px之间 黄色*/
    @media screen and (min-width: 400px) and (max-width: 600px) {
        .Sample {
            height: 13rem;
        }

        .Sample_money {
            margin-top: 1.5rem;
            font-size: 26px;
        }

        .Sample_titles {
            font-size: 0.9rem;
            /* background-color: aquamarine; */
            height: 2.8rem;
            padding-left: 0.5rem;
        }

        .VisibilityIcon {
            width: 0.8rem;
            /* background-color: aqua; */
            padding-top: 0.5rem;
        }

        .Sample_time {
            height: 4rem;
            margin-top: 1rem;
            font-size: 0.7rem;
        }
        .Sample_titles {
            font-size: 1rem;
            height: 3.8rem;
            padding-left: 1rem;
            /* background-color: aquamarine; */
        }
        
     


        .popular {
            height: 6rem;
            width: 6rem;
            /* background-color: aquamarine; */
            margin-right: 1rem;
        }

        .title {
            font-size: 1rem;
            font-weight: 600;
        }

        .discounts {
            /* background-color: aquamarine; */
            height: 7.5rem;
        }

        .discounts_img {
            height: 7.5rem;
        }

        .new_CardMedia {
            height: 180px;
        }

        .CachedIcon {
            width: 1rem;
            left: 0.5rem;
        }

        .QRcodeHome {
            width: 3rem;
            top: 0rem;
            right: 1rem;
        }
    }

    /* 600px至768px之间 绿色*/
    @media screen and (min-width: 600px) and (max-width: 768px) {
        .Sample {
            height: 18rem;
        }

        .CachedIcon {
            width: 1.5rem;
            left: 0rem;
            /* font-size: 2.3rem; */

        }

        .Sample_money {
            margin-top: 2rem;
            font-size: 2.5rem;
            margin-left: 2rem
        }

        /* .VisibilityIcon{
            font-size: 1.5rem;
        } */
        .Sample_titles {
            font-size: 1.3rem;
            height: 5.5rem;
            padding-left: 1rem;
        }

        .VisibilityIcon {
            width: 1.3rem;
            /* background-color: aqua; */
            padding-top: 0.5rem;
        }

        .Sample_time {
            height: 6.9rem;
            margin-top: 0rem;
            tab-size: 1rem;
            /* background-color: aquamarine; */
        }

        .Sample_titles {
            font-size: 1.3rem;
            height: 5rem
        }

        .Sample_title {
            left: 7rem;
            top: 1rem
        }

        .popular {
            height: 7.5rem;
            width: 10rem;
            padding-left: 1rem;
            padding-right: 1rem;
            /* background-color: aquamarine; */
            margin-right: 0rem;
        }

        .title {
            font-size: 18px;
            font-weight: 600;
            padding-left: 1rem;
            margin-top: 1rem;
        }

        .discounts {
            /* background-color: aquamarine; */
            height: 12rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .discounts_img {
            height: 12rem;
        }

        .news {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .new_CardMedia {
            height: 19rem;

        }

        .QRcodeHome {
            width: 4.5rem;
            /* background-color: bisque; */
            top: 0.5rem;
            right: 2rem;
        }
    }

    /* 大于等于768px 灰色 */
    @media screen and (min-width: 768px) {
        .Sample {
            height: 20rem;
        }

        .CachedIcon {
            width: 2rem;
            left: -0.5rem;
        }

        .Sample_money {
            margin-top: 2rem;
            font-size: 2.8rem;
            margin-left: 2rem
        }

        /* .VisibilityIcon{
            font-size: 1.8rem;
        } */
        .VisibilityIcon {
            width: 1.3rem;
            /* background-color: aqua; */
            padding-top: 0.5rem;
        }

        .Sample_time {
            height: 8rem;
            margin-top: 0rem;
            tab-size: 1rem;
            /* background-color: aquamarine; */
        }

        .Sample_titles {
            font-size: 1.3rem;
            height: 5.5rem;
            padding-left: 1rem;
        }

        .Sample_title {
            left: 7rem;
            top: 1.5rem
        }

        .popular {
            height: 9rem;
            width: 11rem;
            padding-left: 1rem;
            padding-right: 1rem;
            /* background-color: aquamarine; */
            margin-right: 0.5rem;
        }

        .title {
            font-size: 1.5rem;
            font-weight: 600;
            padding-left: 1rem;
            margin-top: 1rem;
        }

        .discounts {
            /* background-color: aquamarine; */
            height: 14rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .discounts_img {
            height: 14rem;
        }

        .news {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .new_CardMedia {
            height: 330px;

        }

        .QRcodeHome {
            width: 6rem;
            /* background-color: bisque; */
            top: 0rem;
            right: 2.5rem;
        }
    }
}