.custom-toolbar {
    --tw-bg-opacity: 1;
    background-color: white;
}

.form-signup {
    margin-bottom: 10px;
}

.form-signup-title {
    margin-bottom: 6px;
}

.form-alter {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity));
    margin-top: 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    width: 100%;
    text-align: center;
}

input:focus {
    outline: none;
}


/* 紫色 */
@media screen and (orientation: landscape) {
   
}

@media screen and (orientation: portrait) {
    /* 纵向布局样式 */
    /* 在 CSS 文件中定义媒体查询粉色 */
    @media screen and (max-width: 400px) {
        .phoneitem {
            font-size: 10px;
            /* color: blueviolet; */
        }
    
        .endtitle {
            font-size: 11px;
        }
    
        .twophoneitem {
            font-size: 7px;
        }
    
        .form-alter {
            --tw-text-opacity: 1;
            color: rgb(239 68 68 / var(--tw-text-opacity));
            margin-top: 0.5rem;
            font-size: 0.6rem;
            position: absolute;
            width: 100%;
            text-align: center;
        }

    }


    /* 400px至600px之间黄色 */
    @media screen and (min-width: 400px) and (max-width: 600px) {
        .phoneitem {
            font-size: 10px;
            /* color: blueviolet; */
        }
    
        .endtitle {
            font-size: 11px;
        }
    
        .twophoneitem {
            font-size: 7px;
        }
    
        .form-alter {
            --tw-text-opacity: 1;
            color: rgb(239 68 68 / var(--tw-text-opacity));
            margin-top: 0.5rem;
            font-size: 0.6rem;
            position: absolute;
            width: 100%;
            text-align: center;
        }
    }

    /* 600px至768px之间 绿色*/
    @media screen and (min-width: 600px) and (max-width: 768px) {
        
    }

    /* 大于等于768px 灰色*/
    @media screen and (min-width: 768px) {
      
    }
}