.wallet_card {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;      
}

/* 紫色 */
@media screen and (orientation: landscape) {
    .wallet_navbar{
        height: 3rem;
        margin-bottom: 2rem;
    }
    .wallet_cards{
        height: 15rem;
        width: 40rem;
    }

    .wallet_card_img{
        height: 8rem;
        width: 8rem;
        margin-left: 0.2rem;
    }
    .wallet_card_titles{
        position: absolute;
        top: 1rem;
        padding-left: 2rem;
        padding-top: 2rem;
        width: 24rem;
        height: 12.5rem;
        /* background-color: aquamarine; */
    }
    .wallet_card_title{
        font-size: 1.5rem;
    }
    .wallet_card_unit{
        font-size: 2.5rem;
    }
    .wallet_card_money{
        font-size: 3rem;
    }
    .wallet_card_item{
        font-size: 1rem;
        width: 95%;
        position: relative;
        top: -0.3rem;
    }
}

@media screen and (orientation: portrait) {
    /* 纵向布局样式 */
    /* 在 CSS 文件中定义媒体查询粉色 */
    @media screen and (max-width: 400px) {
        .wallet_navbar{
            height: 1.5rem;
        }
        .wallet_cards{
            height: 7rem;
            width: 16.5rem; 
        }

        .wallet_card_img{
            height: 3.5rem;
            width: 3.5rem;
            margin-left: 0.2rem;
        }
        .wallet_card_titles{
            position: absolute;
            top: 0.5rem;
            padding-left: 0.5rem;
            padding-top: 0.5rem;
            width: 10rem;
            height: 5.5rem;
            /* background-color: aquamarine; */
        }
        .wallet_card_title{
            font-size: 0.9rem;
        }
        .wallet_card_unit{
            font-size: 1.1rem;
        
        }
        .wallet_card_money{
            font-size: 1.8rem;
        }
        .wallet_card_item{
            font-size: 0.5rem;
            width: 95%;
            position: relative;
            top: -0.5rem;
        }

    }

    /* 400px至600px之间黄色 */
    @media screen and (min-width: 400px) and (max-width: 600px) {
        .wallet_navbar{
            height: 1.7rem;
        }
        .wallet_cards{
            height: 7.4rem;
            width: 21.5rem;
        }
        
        .wallet_card_img{
            height: 4.5rem;
            width: 4.5rem;
            margin-left: 0.3rem;
        }
        .wallet_card_titles{
            position: absolute;
            top: 0.5rem;
            padding-left: 0.6rem;
            padding-top: 0.5rem;
            width: 13rem;
            height: 6.2rem;
            /* background-color: aquamarine; */
        }
        .wallet_card_title{
            font-size: 1.rem;
        }
        .wallet_card_unit{
            font-size: 1.3rem;
        }
        .wallet_card_money{
            font-size: 2rem;
        }
        .wallet_card_item{
            font-size: 0.6rem;
            width: 95%;
            position: relative;
            top: -0.5rem;
        }
    }

    /* 600px至768px之间 绿色*/
    @media screen and (min-width: 600px) and (max-width: 768px) {
        .wallet_navbar{
            height: 2.5rem;
        }
        .wallet_cards{
            height: 10rem;
            width: 30rem;
        }
    
        .wallet_card_img{
            height: 6.5rem;
            width: 6.5rem;
            margin-left: 0.2rem;
        }
        .wallet_card_titles{
            position: absolute;
            top: 1rem;
            padding-left: 1rem;
            padding-top: 0.5rem;
            width: 18rem;
            height: 8rem;
            /* background-color: aquamarine; */
        }
        .wallet_card_title{
            font-size: 1.2rem;
        }
        .wallet_card_unit{
            font-size: 2rem;
        }
        .wallet_card_money{
            font-size: 2.8rem;
        }
        .wallet_card_item{
            font-size: 0.8rem;
            width: 95%;
            position: relative;
            top: -0.3rem;
        }
    }

    /* 大于等于768px 灰色*/
    @media screen and (min-width: 768px) {
        .wallet_navbar{
            height: 3rem;
        }
        .wallet_cards{
            height: 15rem;
            width: 40rem;
        }
    
        .wallet_card_img{
            height: 8rem;
            width: 8rem;
            margin-left: 0.2rem;
        }
        .wallet_card_titles{
            position: absolute;
            top: 1rem;
            padding-left: 2rem;
            padding-top: 2rem;
            width: 24rem;
            height: 12.5rem;
            /* background-color: aquamarine; */
        }
        .wallet_card_title{
            font-size: 1.5rem;
        }
        .wallet_card_unit{
            font-size: 2.5rem;
        }
        .wallet_card_money{
            font-size: 3rem;
        }
        .wallet_card_item{
            font-size: 1rem;
            width: 95%;
            position: relative;
            top: -0.3rem;
        }
    }
}