
.tc_item{
    margin-top: 0.25rem;
}
.QRcodeScan_box {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68%;
    padding-bottom: 68%;
    /* background-color: pink; */
    z-index: 1;
    pointer-events: none;
    position: absolute;
    overflow: hidden; /* 隐藏溢出的扫描线 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    /* border: 2px solid #ffffff;  */
}

.QRcodeScan_scanLine {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height:100%;
    border-top: 2px solid #ffffff; /* 边框 */
    /* background-color: white;  */
    animation: scan 2s linear infinite; /* 扫描动画 */
}

@keyframes scan {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
   
}

/* 紫色 */
@media screen and (orientation: landscape) {
    .QRcodeScan_btns{
        bottom: 5%;
        width: 60%;
    }
     .QRcodeScan_btn{
        width: 6rem
     }
     .QRcodeScan_box{
        top: 43%;
        width: 45%;
        padding-bottom: 35%;
     }
}

@media screen and (orientation: portrait) {
    /* 纵向布局样式 */
    /* 在 CSS 文件中定义媒体查询粉色 */
    @media screen and (max-width: 400px) {
    .QRcodeScan_btns{
        bottom: 4rem;
        width: 75%;
    }
     .QRcodeScan_btn{
        width: 4rem
     }
    }


    /* 400px至600px之间黄色 */
    @media screen and (min-width: 400px) and (max-width: 600px) {
        .QRcodeScan_btns{
            bottom: 5rem;
            width: 75%;
        }
         .QRcodeScan_btn{
            width: 4.5rem
         }
    }

    /* 600px至768px之间 绿色*/
    @media screen and (min-width: 600px) and (max-width: 768px) {
        .QRcodeScan_btns{
            bottom: 6rem;
            width: 75%;
        }
         .QRcodeScan_btn{
            width: 5rem;
         }
    }

    /* 大于等于768px 灰色*/
    @media screen and (min-width: 768px) {
        .QRcodeScan_btns{
            bottom: 7rem;
            width: 75%;
        }
         .QRcodeScan_btn{
            width: 6rem
         }
      
    }
}