*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header{
    position: relative;
    width: 100%;
    height: 100vh;
    background:url(../images/header/headBg.svg);
    background-position: center center;
    background-size: cover;
}
.bg{
    width: 100%;
    height: 100px;

}
.bg:hover{
    display: none;
}
/* nav */
.nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    height: 50px;
    background-repeat: no-repeat;
    background-size:100% auto;
    background-image: url(../images/header/PX.png);
    z-index: 999;
}

header .nav>ul{
    float: left;
    margin-right: 5px;
}
header .nav .navigation  li{
    float: left;
    margin-top: 5px;
    margin-left: 2px;  
    transition: all 0.2s;
}

header .nav  li:hover{
    transform: translateY(-5px); 
    /* 背景 */
}

header .nav  ul li a img{
    height: 50px;
    width: 110px;
}
header .nav .link li  {
    float: left;
    margin: 5px 5px;
}

header .nav .link li:nth-child(1) a {
    display: block;
    background : url(../images/button/headButton/meta.svg) no-repeat center center;
    width: 3vw;
    height: 30px;
    background-size: contain;

}
header .nav .link li:nth-child(2) a {
    display: block;
    background : url(../images/button/headButton/reddit.svg) no-repeat center center;
    width: 3vw;
    height: 30px;
    background-size: contain;

}
header .nav .link li:nth-child(3) a {
    display: block;
    background : url(../images/button/headButton/meta.svg) no-repeat center center;
    width: 3vw;
    height: 30px;
    background-size: contain;

}
header .nav .link li:nth-child(4) a {
    display: block;
    background : url(../images/button/headButton/youtube.svg) no-repeat center center;
    width: 3vw;
    height: 30px;
    background-size: contain;
}
.button {
    height: 50px;
    width: 100px;
    background: url(../images/header/appoButton.svg) no-repeat;
    background-size: 100%;
}
.button li {
    display: inline-block;
   height: 100%;
   width: 100%;
}
.button a {
    display: inline-block;
   height: 100%;
   width: 100%;
}

.button:hover{
    cursor:pointer;
    transform: translateY(5px);
}
/* selectLang */
.lang-switcher{
    font-family: 'TEXT';
    font-size: 14px;
    margin-top: 10px;
    height: 20px;
    width: 80px;
    overflow: hidden;
}
.lang-switcher:hover{
    overflow: visible;
}
.lang-switcher li{
    height: 20px;
    width: 80px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    color: #000;
}
.lang-switcher li:nth-child(1){
    color: #fff;
    border-radius: 0;
    background-color: transparent;
}

.lang-switcher li:nth-child(1):hover{
    transform: translateY(0);
}
.lang-switcher li:nth-child(2){
    border-radius: 10px 10px 0 0;
}
.lang-switcher li:nth-child(3){
    border-radius: 0;
}
.lang-switcher li:nth-child(4){
    border-radius: 0 0 10px 10px;
}
.nav  .lang-switcher li:not(:first-child):hover{
    transform: translateY(0);
    background-color: blue;
}
/* selectLang */
@media(min-width: 1500px){
    .nav{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        height: 70px;
        background-repeat: no-repeat;
        background-size:100% 100%;
        background-image: url(../images/header/PX.png) ;
        z-index: 999;
    }
    
    header .nav>ul{
        float: left;
        margin-right: 10px;
    }
    header .nav .navigation  li{
        float: left;
        margin-top: 10px;
        margin-left: 4px;  
        transition: all 0.2s;
    }
    
    header .nav  li:hover{
        transform: translateY(-10px); 
        /* 背景 */
    }
    
    header .nav  ul li a img{
        height: 100px;
        width: 150px;
    }
    header .nav .link li  {
        float: left;
        margin: 10px 10px;
    }
    
    header .nav .link li:nth-child(1) a {
        display: block;
        background : url(../images/button/headButton/meta.svg) no-repeat center center;
        width: 3vw;
        height: 60px;
        background-size: contain;
    
    }
    header .nav .link li:nth-child(2) a {
        display: block;
        background : url(../images/button/headButton/reddit.svg) no-repeat center center;
        width: 3vw;
        height: 60px;
        background-size: contain;
    
    }
    header .nav .link li:nth-child(3) a {
        display: block;
        background : url(../images/button/headButton/meta.svg) no-repeat center center;
        width: 3vw;
        height: 60px;
        background-size: contain;
    
    }
    header .nav .link li:nth-child(4) a {
        display: block;
        background : url(../images/button/headButton/youtube.svg) no-repeat center center;
        width: 3vw;
        height: 60px;
        background-size: contain;
    }
    .button{
        margin-top: 10px;
        height: 120px;
        width: 150px;
        background: url(../images/header/appoButton.svg) no-repeat;
        background-size: 100%;
    }
    
    .button:hover{
        cursor:pointer;
        transform: translateY(5px);
    }
    /* selectLang */
    .lang-switcher{
        font-family: 'TEXT';
        font-size: 18px;
        margin-top: 20px;
        height: 35px;
        width: 150px;
        overflow: hidden;
    }
    .lang-switcher:hover{
        overflow: visible;
    }
    .lang-switcher li{
        height: 35px;
        width: 150px;
        border-radius: 10px;
        text-align: center;
        background-color: white;
        color: #000;
    }
    .lang-switcher li:nth-child(1){
        color: #fff;
        border-radius: 0;
        background-color: transparent;
    }
    
    .lang-switcher li:nth-child(1):hover{
        transform: translateY(0);
    }
    .lang-switcher li:nth-child(2){
        border-radius: 10px 10px 0 0;
    }
    .lang-switcher li:nth-child(3){
        border-radius: 0;
    }
    .lang-switcher li:nth-child(4){
        border-radius: 0 0 10px 10px;
    }
    .nav  .lang-switcher li:not(:first-child):hover{
        transform: translateY(0);
        background-color: blue;
    }
}

/* nav */
/* bottom */

.bottom .people img{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: 70vh;
}

.bottom .icon  a{
    position: absolute;
    display: block;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: 30vh;
    width: 20vw;
    z-index: 3;
}
.bottom .icon img{
    width: 100%;
    height: 100%;
}
.bottom .start a{
    display: block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    width: 10vw;
    z-index: 3;
}
.bottom .start a>img{
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
}
.bottom .start a>img:hover{
   transform: translateY(-25%);
}
.bottom .cloud{
    position: absolute;
    bottom: 0;
    height: 400px;
    width: 100%;
    background: url(../images/header/Cloud.png) no-repeat bottom center ;
    background-size: 100%;
    z-index: 1;
}
/* bottom */
/* header */
/* phoneheader */
@media(max-width: 768px){
    .pc{
        display: none;
    }
    .phonehead{
        visibility: visible;
    }
    *{
        margin: 0;
        padding: 0;
    }
    .phonehead{
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(../images/header/headBg.svg) no-repeat center center;
        background-size: cover;
    }
    
    .phonehead .nav{
    
        height: 10vh;
        width: 100vw;
       background:url(../images/header/PX.png) no-repeat center;
       box-sizing: cover;
        margin: 0;
    }
    
    .phonehead .nav .menu{
       float: left; 
       width: 15%;
        height: 90%;
    }
    .phonehead .nav .appointment{
        float: right;
        width: 30%;
        height: 90%;
    }
    .phonehead .people{
        position: absolute;
        bottom: 10vh;
        width: 100vw;
        height: 80vh;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .phonehead .logo{
        position: absolute;
        bottom: 5vh;
        width: 65vw;
        height: 50vh;
        left: 50%;
        transform: translateX(-50%);
    }
    .phonehead .cloud{
        position: absolute;
        bottom: 0;
       width: 100%;
        height: 10vh;
    }
    /* phoneheader */
    /* main */
    main{
        height: 300vh;
        width: 100vw;
        background:url(../images/main/MainBg.png)  center;
        background-size: 100%;
        
    }
    .imgTitle{
        width: 100%;
        height: 10vh;
        background: url(../images/main/MainLine.svg) no-repeat;
        background-size: 100%;
    }
    
    .beforeTitle{
        height: 15vh;
        width: 100%;
        
    
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        background:url(../images/button/Subtract.svg) no-repeat;
        background-size: 100%;
        border: 1px red solid;  
    }
    
    .box{
        width: 90vw;
        height: 100vh;
    }
    .box-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%; 
        height:60vh;
        border: 1px red solid;
    }
    
    .box-title{
        position: absolute;
        width: 80vw;
        height: 20vh;
        z-index: 999;
    }
    .box-banner{
        position: absolute;
        top: 30%;
        width: 100%;
         height: 45%;
         z-index: 10;
    }
     .box1-p{
        position: absolute;
        top: 43%;
        left: 12%;
        font-size: 16px;
        color: black;
        z-index: 10;
    } 
    .box1-h3{
        width: 70%;
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translateX(-50%);
        color: black;
        z-index: 10;
        font-size: 14px;
    } 
    .commit{
        height: 10vh;
        width: 15vw;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translateX(-50%);
        color: black;
        z-index: 10;
    }
    
    .commit:hover{
        display: block;
        cursor: grab;
    }
    
     .phoneDiv{
        display: flex;
        position: absolute;
    
        width: 70%;
        height: 5%;
        top: 50%; 
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        z-index: 10;
    }
    
    .phoneDiv ul{
        height: 100%;
        flex: 30%;
        box-sizing: border-box;
        overflow: hidden;
        margin-top: 1%;
        opacity: 0.7;
        background-color: #ffffff;
        list-style: none;
    }
    
     .phoneDiv ul:hover{
        overflow: visible;
    }
    
    .selectRegion{
        float: left;
        position: relative;
        font-size: 14px;
        flex: 30%;
        height: 100%;
        width: 100%;
        background-color: white;
        opacity: 0.8;
    }
    .selectRegion:hover{
        cursor: grab;
        background-color: aqua;
    }
    
    .selectRegion:nth-child(1):after{
        position: absolute;
        right: 10%;
        top: 10%;
        content: '';
        display: inline-block;
        width: 10%;
        height: 10%;
        border-top: 1% solid #3D3D3D;
        border-right: 1% solid #3D3D3D;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        
    }
    
    .phoneInput{
        margin-left: 10%;
        flex: 65%;
        height: 100%;
        font-size: 20px;
    }
    
    .phoneInput input{
        border: 0;
        height: 100%;
        width: 100%;
        background-color: white;
        opacity: 0.8;
        padding-left: 15px;
        z-index: 10;
    }
    
    .box1-content h3{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        color: black;
        z-index: 10;
    }
    
    .box1-content p{
        position: absolute;
        top: 42%;
        width: 90%;
        height: 40%;
        left: 5%;
        padding: 0 10%;
        color: black;
        z-index: 10;
    }
    
    .RoleA{
        position: absolute;
        right: -40%;
        top: 7%;
        height: 60%; 
        width: 70%;
    }
    .RoleB{
        position: absolute;
        left: -30%;
        top: 7%;
        height: 70%; 
        width: 70%;
    }
    
    .box2{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 90vw;
        height: 30vh;
        border: 1px solid red;
    }
    .box-content2{
        position: absolute;
        height: 30vh;
        width: 100%; 
    }
    .box3{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 90vw;
        height: 35vh;
        border: 1px solid red;
    }
    .box3-content{
        position: relative;
        width: 100%;
        height: 90%;
        border: 1px solid red;
        color: #000;
    }
    .box3-content h3{
        position: absolute;
        top: 350px;
        left: 450px;
    }
    .box3-content p{
        position: absolute;
        top: 450px;
        left: 460px;
        width: 400px;
        height: 300px;
        font-size: 14px;
    }
    
    
    
    
    .box4-content{
        position: absolute;
        left: 10%;
        width: 90%;
        height: 100%;
        border: 1px solid red;
    }
    
    .box4{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 90vw;
        height: 100vh;
        border: 1px solid red;
    }
    .box4 img{
        width: 100%;
        height:20% ;
    }
    .box4 .attention{
         position: absolute;
         top: 20%;
         height: 70%;
         width:100%;
    }
    
    .box4  .attention-ul{
        position: absolute;
        top: 30%;
        left: 10%;
        height: 50%;
        width:90%;
        font-size: 10px;
    }
    
    .box4 .attention-ul li{
        color: black;
    }
    
    
    
    footer{
        position: relative;
        width: 100%;
        height: 30vh;
        background: url(../images/footer/under.png) no-repeat center ;
        box-sizing: 100%;
    }
    footer .service{
        display: flex;
        align-items: center;
        position: absolute;
        top: 10%;
        left: 10%;
        width: 40%;
        height: 20%;
      
    }
    footer .service a{
        flex:1;
        font-size: 14px;
    }
    footer .index{
        position: absolute;
        top: 10%;
        right: 10%;
    }
    
    footer .copyright{
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
       width: 90%;
       height: 5%;
    
    }
}
