.walletDetail {
    background-color: rgba(00, 00, 00, 0.1);
}

.walletDetail-card-middle-address {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* 紫色 */
@media screen and (orientation: landscape) {
    .walletDetail-card {
        height: 34rem;
        width: 21rem;
        bottom: 5%;
    }

    .walletDetail-card-titles {
        /* background-color: rgba(202, 145, 145,0.5); */
        height: 13%;
        font-size: 1.3rem;
        padding-right: 2rem;
        padding-left: 2rem;

    }

    .close-button {
        right: 2%;
        /* background-color: azure; */
        top: 1rem;
        width: 2rem;
        height: 2rem;
    }

    .walletDetail-card-content {
        /* background-color: rgba(132, 201, 140, 0.5); */
        height: 87%;
        font-size: 1.1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .walletDetail-card-top {
        /* background-color: rgba(223, 156, 84, 0.5); */
        padding: 1rem;
        height: 28%;
    }

    .walletDetail-card-top-logo {
        /* background-color: aquamarine; */
        width: 35%;

    }

    .walletDetail-card-top-content {
        /* background-color: rgba(148, 231, 123, 0.756); */
        padding-left: 1rem;
        height: 90%;
        width: 65%;
    }

    .walletDetail-card-top-title {
        font-size: 1.1rem;
    }

    .walletDetail-card-top-item {
        /* margin-top: 1rem; */
        font-size: 1.1rem;
        top: -0.8rem;
        /* background-color: blue; */
    }

    .walletDetail-card-top-price {
        padding-top: 2.2rem;

    }

    .walletDetail-card-top-money {
        font-size: 3.3rem;
    }

    .walletDetail-card-middle {
        /* background-color: rgba(200, 188, 176, 0.8); */
        height: 26%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .walletDetail-card-middle-content {
        font-size: 0.9rem;
        
    }
    .walletDetail-card-middle-addressHeigh{
        height: 2.7rem;
       
    }
    .walletDetail-card-middle-address {
        max-height: 2.7rem;
    }

    .walletDetail-card-middle-btn {
        font-size: 0.7rem;
        height: 1.6rem;
        margin-top: 0.5rem;
    }

    .walletDetail-card-end {
        /* background-color: rgba(143, 215, 179, 0.2); */
        height: 46%;

    }

    .walletDetail-card-end-img {
        margin-top: 1.8rem;
        width: 48%;
    }

    .walletDetail-card-end-item {
        font-size: 0.55rem;
        margin-top: 0.5rem;
    }
}

@media screen and (orientation: portrait) {
    /* 纵向布局样式 */
    /* 在 CSS 文件中定义媒体查询粉色 */
    @media screen and (max-width: 400px) {
        .walletDetail-card {
            height: 29.3rem;
            width: 18rem;
            bottom: 15%;
        }

        .walletDetail-card-titles {
            /* background-color: rgba(202, 145, 145, 0.2); */
            height: 13%;
            font-size: 1.2rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .close-button {
            right: 1%;
            /* background-color: azure; */
            top: 0.7rem;
            width: 2rem;
            height: 2rem;
        }

        .walletDetail-card-content {
            /* background-color: rgba(132, 201, 140, 0.2); */
            height: 87%;
            font-size: 1.1rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .walletDetail-card-top {
            /* background-color: rgba(223, 156, 84, 0.2); */
            padding: 1rem;
            height: 28%;
        }

        .walletDetail-card-top-logo {
            /* background-color: aquamarine; */
            width: 35%;

        }

        .walletDetail-card-top-content {
            /* background-color: rgba(148, 231, 123, 0.756); */
            padding-left: 1rem;
            height: 90%;
            width: 65%;
        }

        .walletDetail-card-top-title {
            font-size: 1rem;
        }

        .walletDetail-card-top-item {
            /* margin-top: 1rem; */
            font-size: 1rem;
            top: -0.8rem;
            /* background-color: blue; */
        }

        .walletDetail-card-top-price {
            padding-top: 1.6rem;

        }

        .walletDetail-card-top-money {
            font-size: 2.5rem;
        }

        .walletDetail-card-middle {
            /* background-color: rgba(200, 188, 176, 0.2); */
            height: 26%;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .walletDetail-card-middle-content {
            font-size: 0.75rem;
            
        }
        .walletDetail-card-middle-addressHeigh{
            height: 2.5rem;
           
        }
        .walletDetail-card-middle-address {
            max-height: 2.25rem;
        }

        .walletDetail-card-middle-btn {
            font-size: 0.66rem;
            height: 1.3rem;
            margin-top: 0.5rem;
        }

        .walletDetail-card-end {
            /* background-color: rgba(143, 215, 179, 0.2); */
            height: 46%;

        }

        .walletDetail-card-end-img {
            margin-top: 1.8rem;
            width: 48%;
        }

        .walletDetail-card-end-item {
            font-size: 0.5rem;
            margin-top: 0.5rem;
        }

    }

    /* 400px至600px之间黄色 */
    @media screen and (min-width: 400px) and (max-width: 600px) {
        .walletDetail-card {
            height: 34rem;
            width: 21rem;
            bottom: 12%;
        }

        .walletDetail-card-titles {
            /* background-color: rgba(202, 145, 145,0.5); */
            height: 13%;
            font-size: 1.3rem;
            padding-right: 2rem;
            padding-left: 2rem;

        }

        .close-button {
            right: 2%;
            /* background-color: azure; */
            top: 1rem;
            width: 2rem;
            height: 2rem;
        }

        .walletDetail-card-content {
            /* background-color: rgba(132, 201, 140, 0.5); */
            height: 87%;
            font-size: 1.1rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .walletDetail-card-top {
            /* background-color: rgba(223, 156, 84, 0.5); */
            padding: 1rem;
            height: 28%;
        }

        .walletDetail-card-top-logo {
            /* background-color: aquamarine; */
            width: 35%;

        }

        .walletDetail-card-top-content {
            /* background-color: rgba(148, 231, 123, 0.756); */
            padding-left: 1rem;
            height: 90%;
            width: 65%;
        }

        .walletDetail-card-top-title {
            font-size: 1.1rem;
        }

        .walletDetail-card-top-item {
            /* margin-top: 1rem; */
            font-size: 1.1rem;
            top: -0.8rem;
            /* background-color: blue; */
        }

        .walletDetail-card-top-price {
            padding-top: 2.2rem;

        }

        .walletDetail-card-top-money {
            font-size: 3.3rem;
        }

        .walletDetail-card-middle {
            /* background-color: rgba(200, 188, 176, 0.8); */
            height: 26%;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .walletDetail-card-middle-content {
            font-size: 0.9rem;
            
        }
        .walletDetail-card-middle-addressHeigh{
            height: 2.7rem;
           
        }
        .walletDetail-card-middle-address {
            max-height: 2.7rem;
        }

        .walletDetail-card-middle-btn {
            font-size: 0.7rem;
            height: 1.6rem;
            margin-top: 0.5rem;
        }

        .walletDetail-card-end {
            /* background-color: rgba(143, 215, 179, 0.2); */
            height: 46%;

        }

        .walletDetail-card-end-img {
            margin-top: 1.8rem;
            width: 48%;
        }

        .walletDetail-card-end-item {
            font-size: 0.55rem;
            margin-top: 0.5rem;
        }

    }

    /* 600px至768px之间 绿色*/
    @media screen and (min-width: 600px) and (max-width: 768px) {
        .walletDetail-card {
            height: 37.5rem;
            width: 23rem;
            bottom: 13%;
        }

        .walletDetail-card-titles {
            /* background-color: rgba(202, 145, 145,0.5); */
            height: 13%;
            font-size: 1.3rem;
            padding-right: 2.5rem;
            padding-left: 2.5rem;

        }

        .close-button {
            right: 2%;
            background-color: azure;
            top: 1.25rem;
            width: 2.5rem;
            height: 2.5rem;
        }


        .walletDetail-card-content {
            /* background-color: rgba(132, 201, 140, 0.5); */
            height: 87%;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .walletDetail-card-top {
            /* background-color: rgba(223, 156, 84, 0.5); */
            padding: 1rem;
            height: 28%;
        }

        .walletDetail-card-top-logo {
            /* background-color: aquamarine; */
            width: 35%;

        }

        .walletDetail-card-top-content {
            /* background-color: rgba(148, 231, 123, 0.756); */
            padding-left: 1rem;
            height: 90%;
            width: 65%;
        }

        .walletDetail-card-top-title {
            font-size: 1.25rem;
        }

        .walletDetail-card-top-item {
            /* margin-top: 1rem; */
            font-size: 1.25rem;
            top: -0.8rem;
            /* background-color: blue; */
        }

        .walletDetail-card-top-price {
            padding-top: 2.8rem;

        }

        .walletDetail-card-top-money {
            font-size: 4rem;
        }

        .walletDetail-card-middle {
            /* background-color: rgba(200, 188, 176, 0.8); */
            height: 26%;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .walletDetail-card-middle-content {
            font-size: 1rem;
            
        }
        .walletDetail-card-middle-addressHeigh{
            height: 3rem;
           
        }
        .walletDetail-card-middle-address {
            max-height: 3rem;
        }

        .walletDetail-card-middle-btn {
            font-size: 0.75rem;
            height: 1.75rem;
            margin-top: 0.75rem;
        }

        .walletDetail-card-end {
            /* background-color: rgba(143, 215, 179, 0.2); */
            height: 46%;

        }

        .walletDetail-card-end-img {
            margin-top: 1.8rem;
            width: 48%;
        }

        .walletDetail-card-end-item {
            font-size: 0.6rem;
            margin-top: 0.5rem;
        }

    }

    /* 大于等于768px 灰色*/
    @media screen and (min-width: 768px) {
        .walletDetail-card {
            height:45rem;
            width: 27.5rem;
            bottom: 18%;
        }

        .walletDetail-card-titles {
            /* background-color: rgba(202, 145, 145,0.5); */
            height: 13%;
            font-size: 1.7rem;
            padding-right: 3rem;
            padding-left: 3rem;

        }

        .close-button {
            right: 3%;
            /* background-color: rgb(101, 243, 243); */
            top: 1.5rem;
            width: 2.5rem;
            height: 2.5rem;
        }


        .walletDetail-card-content {
            /* background-color: rgba(132, 201, 140, 0.5); */
            height: 87%;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .walletDetail-card-top {
            /* background-color: rgba(223, 156, 84, 0.5); */
            padding: 1rem;
            height: 28%;
        }

        .walletDetail-card-top-logo {
            /* background-color: aquamarine; */
            width: 35%;

        }

        .walletDetail-card-top-content {
            /* background-color: rgba(148, 231, 123, 0.756); */
            padding-left: 1rem;
            height: 90%;
            width: 65%;
        }

        .walletDetail-card-top-title {
            font-size: 1.5rem;
        }

        .walletDetail-card-top-item {
            /* margin-top: 1rem; */
            font-size: 1.5rem;
            top: -0.8rem;
            /* background-color: blue; */
        }

        .walletDetail-card-top-price {
            padding-top: 3.5rem;

        }

        .walletDetail-card-top-money {
            font-size: 4.75rem;
        }

        .walletDetail-card-middle {
            /* background-color: rgba(200, 188, 176, 0.8); */
            height: 26%;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .walletDetail-card-middle-content {
            font-size: 1.3rem;
            
        }
        .walletDetail-card-middle-addressHeigh{
            height: 4rem;
           
        }
        .walletDetail-card-middle-address {
            max-height: 4rem;
        }

        .walletDetail-card-middle-btn {
            font-size: 0.9rem;
            height: 2.2rem;
            margin-top: 0.75rem;
        }

        .walletDetail-card-end {
            /* background-color: rgba(143, 215, 179, 0.2); */
            height: 46%;

        }

        .walletDetail-card-end-img {
            margin-top: 1.8rem;
            width: 48%;
        }

        .walletDetail-card-end-item {
            font-size: 0.75rem;
            margin-top: 0.5rem;
        }
    }
}